@model Veterinaria.Web.Models.Consult

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultType)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", "Consults", new { id = Model.Id })" class=" text-white btn btn-warning" style="margin-left:20px;">Editar</a>
    <a href="@Url.Action("Index", "Consults")" class=" text-white btn btn-danger" style="margin-left:20px;">Regresar</a>

</div>

