@model IEnumerable<Veterinaria.Web.Models.Consult>

@{
    ViewBag.Title = "Index";
}

    <div class=" padspace">
        <div class="row justify-content-center">
            <p class="display-4">
                Consultas
            </p>
        </div>



        <p>
            <a href="@Url.Action("Create", "Consults")" class="btn btn-success btn-sm btn-icon-split">

                <span class="icon text-white-50"> <i class="fas fa-plus"></i> </span>
                <span class="text">Nueva Consulta</span>
            </a>
        </p>

        <table class="table  " id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ConsultDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ConsultType)
                    </th>
                    <th></th>
                </tr>
            </thead>
          
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConsultDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConsultType)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Consults", new { id = item.Id })" class="text-warning"><i class="fas fa-edit"></i> </a> |
                            <a href="@Url.Action("Details", "Consults", new { id = item.Id })" class="text-info"><i class="fas fa-info-circle"></i></a> |
                            <a href="@Url.Action("Delete", "Consults", new { id = item.Id })" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
           
        </table>

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}

