@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Details";
}


<div class=" row col-md-12 justify-content-between">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header py-2 bg-dark">
                <h5 class="text-center m-0 text-white" >@Model.Name</h5>
                </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <td>Nombre:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Tipo de mascota:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Edad:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Fecha de nacimiento:</td>
                        <td>@Model.BirthDate.ToShortDateString();</td>
                    </tr>
                    <tr>
                        <td>Raza:</td>
                        <td>@Model.Race</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="">
            <div class="card mb-3">
                <div class="card-header  text-white bg-dark">
                    <h5>Fotografia</h5>
                </div>
                <div class="card-header">
                    @if (Model.ImgUrl== null)
                    {
                       <img src="~/Content/Img/Usuariodesconocido.png"class="img-thumbnail" width="200"/>
                    }
                    else if (Model.ImgUrl == null)
                    {
                        <img src="~/Content/Img/@Model.ImgUrl" />
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@*<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

    </dl>
</div>*@

<p>
    <a href="@Url.Action("Edit", "Pets", new { id = Model.Id })" class=" text-white btn btn-warning" style="margin-left:20px;">Editar</a>
    <a href="@Url.Action("Index", "Pets")" class=" text-white btn btn-danger" style="margin-left:20px;">Regresar</a>

</p>
